redirectmatch 301 ^/apmec/([^/]+)/devref/mead_template_description.html$ ^/apmec/$1/contributor/mead_template_description.html
redirectmatch 301 ^/apmec/([^/]+)/devref/api_extensions.html$ ^/apmec/$1/contributor/api/api_extensions.html
redirectmatch 301 ^/apmec/([^/]+)/devref/api_layer.html$ ^/apmec/$1/contributor/api/api_layer.html
redirectmatch 301 ^/apmec/([^/]+)/devref/mano_api.html$ ^/apmec/$1/contributor/api/mano_api.html
redirectmatch 301 ^/apmec/([^/]+)/devref/dashboards.html$ ^/apmec/$1/contributor/dashboards.html
redirectmatch 301 ^/apmec/([^/]+)/devref/development.environment.html$ ^/apmec/$1/contributor/development.environment.html
redirectmatch 301 ^/apmec/([^/]+)/devref/encrypt_vim_auth_with_barbican.html$ ^/apmec/$1/contributor/encrypt_vim_auth_with_barbican.html
redirectmatch 301 ^/apmec/([^/]+)/devref/event_logging.html$ ^/apmec/$1/contributor/event_logging.html
redirectmatch 301 ^/apmec/([^/]+)/devref/monitor-api.html$ ^/apmec/$1/contributor/monitor-api.html
redirectmatch 301 ^/apmec/([^/]+)/devref/policy_actions_framework.html$ ^/apmec/$1/contributor/policy_actions_framework.html
redirectmatch 301 ^/apmec/([^/]+)/devref/apmec_conductor.html$ ^/apmec/$1/contributor/apmec_conductor.html
redirectmatch 301 ^/apmec/([^/]+)/devref/apmec_functional_test.html$ ^/apmec/$1/contributor/apmec_functional_test.html
redirectmatch 301 ^/apmec/([^/]+)/devref/apmec_vim_monitoring.html$ ^/apmec/$1/contributor/apmec_vim_monitoring.html
redirectmatch 301 ^/apmec/([^/]+)/devref/mead_template_parameterization.html$ ^/apmec/$1/contributor/mead_template_parameterization.html
redirectmatch 301 ^/apmec/([^/]+)/devref/mem_usage_guide.html$ ^/apmec/$1/user/mem_usage_guide.html
redirectmatch 301 ^/apmec/([^/]+)/policies/dev-process.html$ ^/apmec/$1/contributor/dev-process.html
redirectmatch 301 ^/apmec/([^/]+)/devref/mistral_workflows_usage_guide.html$ ^/apmec/$1/reference/mistral_workflows_usage_guide.html
redirectmatch 301 ^/apmec/([^/]+)/devref/alarm_monitoring_usage_guide.html$ ^/apmec/$1/user/alarm_monitoring_usage_guide.html
redirectmatch 301 ^/apmec/([^/]+)/devref/enhanced_placement_awareness_usage_guide.html$ ^/apmec/$1/user/enhanced_placement_awareness_usage_guide.html
redirectmatch 301 ^/apmec/([^/]+)/devref/multisite_vim_usage_guide.html$ ^/apmec/$1/user/multisite_vim_usage_guide.html
redirectmatch 301 ^/apmec/([^/]+)/devref/mesd_usage_guide.html$ ^/apmec/$1/user/mesd_usage_guide.html
redirectmatch 301 ^/apmec/([^/]+)/devref/scale_usage_guide.html$ ^/apmec/$1/user/scale_usage_guide.html
redirectmatch 301 ^/apmec/([^/]+)/devref/mea_component_usage_guide.html$ ^/apmec/$1/user/mea_component_usage_guide.html
